#navbar  div {
background-color: white;
}
#navbar  div  div.navbar-header  a.logo.navbar-btn.pull-left { 
padding: 15px;
}
#navbar div  div.navbar-header  a.name.navbar-brand{
padding: 15px;

}